
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Big Shoulders", sans-serif; /* Todo el texto con Palette Mosaic */
  text-transform: uppercase;

}

#lienzo {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

header {
  position: absolute;
  top: 0; left: 0;
  padding: 2vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.title {
    
  position: relative;
  text-align: right;
  font-size: 4vh;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  color: rgb(18, 23, 130);
}

.nombre {
    
  position: relative;
  text-align: right;
  font-size: 5vh;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  color: #be0d4b;
}

footer {
    font-family: "Palette Mosaic", cursive; 
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
 /*mix-blend-mode: luminosity;*/
  color: rgb(144, 70, 70);

}

.subtitle {
   font-family: "Big Shoulders", sans-serif;
  position: relative;
  padding: 2vh 0 0 2vh;
  font-size: 900%;
  color: #3f0dbe;
  
}


.insta {
  display: block;
  /*font-family: "Rock Salt", cursive; */
  font-family: "Palette Mosaic", cursive;
  font-size: 3vh;
  color: #49162b;
  text-decoration: none;
  margin-left: 2vh;
  margin-bottom: -1vh;
}
.insta:hover {
  color: #931149;
  text-decoration: underline;
}

#centroLogo {
  position: absolute;
  bottom: 5vh;
  right: 2.2vh;
  width: 10vh;
  
}

.instrucciones {
  position: absolute;
  bottom: 19vh; /* justo arriba del logo */
  right: 2vh;
  text-align: right;
  font-family: "Big Shoulders", sans-serif;
  font-size: 3vh;
  line-height: 1.2;
  color: rgb(51, 64, 186);
}


.botones {
  position: absolute;
  top: 20vh;
  left: 5vw;
  display: flex;
  gap: 2vh;
 
  
}

.btn {
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

#boton1 {
  color: rgb(221, 129, 80);
  background-image: url(assets/texturas/columned-lava-rock-unity/columned-lava-rock_albedo.png);
}

#boton2 {
    color: rgb(59, 25, 19);
  background-image: url(assets/texturas/bricks/albedo.png);
}

#boton3 {
    color: rgb(59, 25, 19);
  background-image: url(assets/texturas/rusted/albedo.png);
}

#boton4 {
    color: rgb(59, 25, 19);
  background-image: url(assets/texturas/vines/albedo.png);
}